<link rel="stylesheet" type="text/css" href="style.css">
<html>
	<body class="main">
		<div class="wrapper">
			<ul id="navbar">
				<li><a href="https://signatum.io/">Website</a></li>
				<li><a href="http://www.signatum.news">News</a></li>
				<li id="bal"><a href="http://explorer.signatum.io/address/<%= faucetAddress %>" id="balLink">Faucet Balance: <%= faucetBalance %> SIGT</a></li>
				<li id="addr"><a href="http://explorer.signatum.io/address/<%= faucetAddress %>" id="addrLink">Faucet Address: <%= faucetAddress %></a></li>
			</ul>
			<form action="/sendAddress" method="post">
				<fieldset>
					<input type="text" name="userAddress" placeholder="Address to receive SIGT" />
					<div class="g-recaptcha" data-sitekey="<%= apiKey %>"></div>
					<input type="submit" value="Send me SIGT!" />
				</fieldset>
			</form>
			<div id="sendStatus" class="<%= sentStatus %>"><h4><%= statusMessage %></h4></div>
		</div>
	</body>
	<footer>
		<div id="info-footer">
			<p>Run your own Signatum faucet</p>
			<p><a href="https://github.com/nullifies/signatum-faucet">Check out the GitHub Repository</a></p>
		</div>
	</footer>
</html>
<script src="https://www.google.com/recaptcha/api.js"></script>
<style type="text/css">
	.sent{
		height: 20%;
		width: 90%;
		border-radius: 7px;
		border-width: 5px;
		border-style: solid;
		border-color: #0d9f00;
		background-color: #12d600;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s 7s, opacity 10s linear;
	}
	.timeout{
		height: 20%;
		width: 90%;
		border-radius: 7px;
		border-width: 5px;
		border-style: solid;
		border-color: #ba0000;
		background-color: #c90000;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s 7s, opacity 10s linear;
	}
	.none{

	}
</style>
